<div class="linkslist">
  <p class="asidetitle"><%= __('columns') %></p>
    <ul>
        <% for (var i in theme.columns){ %>
          <li>
            <% if(theme.columns[i].indexOf(",") > 0) { %>
            	<a href="<%- theme.columns[i].split(",")[0] %>" target="_blank" title="<%- theme.columns[i].split(",")[1] %>"><%= i %></a>
            <% }else{ %>
            	<a href="<%- theme.columns[i] %>" target="_blank" title="<%= i %>"><%= i %></a>
            <% } %>
          </li>
        <% } %>
    </ul>
</div>